
<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">
  
        <div class="section-title">
          <h2>About</h2>
         
        </div>
  
        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="assets/img/pro.png" class="img-fluid pro" >
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>UI/UX Designer &amp; Web Developer.</h3>
            <p class="font-italic">
              “Any fool can write code that a computer can understand. Good programmers write code that humans can understand.” – Martin Fowler
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> 6 Nov 1999</li>
                  <li><i class="icofont-rounded-right"></i> <strong>City:</strong>New Delhi,India</li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 20</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> yashshahi99@gmail.com</li>
                  <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> Available</li>
                </ul>
              </div>
            </div>
            <p>
              I am a developer from Chandigarh but currently working in New Delhi with a knack for devloping websites and programmes. I love creating new things and developing codes and master new skills everyday.
            </p>
          </div>
        </div>
  
      </div>
    </section>
    <!-- End About Section -->
  
  
  
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">
  
        <div class="section-title">
          <h2>Skills</h2>
          <p>
            A list of my current skills, but trust me it won't just stop at these .
          </p>
        </div>
  
        <div class="row skills-content">
  
          <div class="col-6" data-aos="fade-up">
            <div class="row">
              
            <div class="progress col-6">
              <span class="skill">HTML </span>
            </div>
  
            <div class="progress col-6">
              <span class="skill">CSS</span>
            </div>
  
            <div class="progress col-6">
              <span class="skill">JavaScript</span>
            </div>
  
            <div class="progress col-6">
              <span class="skill">Firebase</span>
            </div>
            <div class="progress col-6">
              <span class="skill">AWS</span>
            </div>
            <div class="progress col-6">
              <span class="skill">Express</span>
            </div>
            <div class="progress col-6">
              <span class="skill">PostgresSQL</span>
            </div>
            <div class="progress col-6">
              <span class="skill">MongoDb</span>
            </div>
            <div class="progress col-6">
              <span class="skill">Angular </span>
            </div>
            <div class="progress col-6">
              <span class="skill">HTML </span>
            </div>
            <div class="progress col-6">
              <span class="skill">Node </span>
            </div>
  
            <div class="progress col-6">
              <span class="skill">Photoshop </span>
            </div>
            </div>
          </div>
  
  
        </div>
  
      </div>
    </section><!-- End Skills Section -->
  
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">
  
        <div class="section-title">
          <h2>Resume</h2>
        </div>
  
        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Yash Shahi</h4>
              <p><em>Innovative and deadline-driven Web Developer designing and developing user-friendly marketing material from initial concept to final, polished deliverable.</em></p>
            </div>
  
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>ST Kabir Public School </h4>
              <p><em>studied till class 10th</em></p>
              <p>
                Scored 10.0 CGPA
              </p>
            </div>
            <div class="resume-item">
              <h4>NSUT(Netaji Subash University Of Technology) </h4>
              <h5>2019-2023</h5>
              <p>
                Currently in the IT department
              </p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Intern at Finchtech</h4>
              <p>
                A startup aimed at providing high end web Development service for other organizations at reasonable prizes.
              </p>
            </div>
            <div class="resume-item">
              <h4>Writer in College's Dramatic Society</h4>
              <p>
                An active content writer in our college's dramtics society.
              </p>
            </div>
          </div>
        </div>
  
      </div>
    </section><!-- End Resume Section -->
  
 
  
    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">
  
        <div class="section-title">
          <h2>Services</h2>
          <p>
            With the current amout of skills I have , the services listed below are provided by me.          
          </p>
        </div>
  
        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="icofont-computer"></i></div>
            <h4 class="title">Web Development</h4>
            <p class="description">Creation of Webpages as per request with the latest technologies available.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
            <h4 class="title">Databases</h4>
            <p class="description">Creation of databases for storage and easy access to data</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="icofont-earth"></i></div>
            <h4 class="title">Social Marketting</h4>
            <p class="description">Advertize your website on various social platforms</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="icofont-image"></i></div>
            <h4 class="title">Digital Art</h4>
            <p class="description">Basic Digital Art and Logos </p>
          </div>
        
        </div>
  
      </div>
    </section><!-- End Services Section -->
  
  
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">
  
        <div class="section-title">
          <h2>Contact</h2>
          <p>Hey , fascinated by my blog? Want one for yourself or want to talk about other projects you want to work together with me? Then hit me up. You can reach me on my social links or email me on yashshahi99@gmail.com</p>
        </div>
  
        
  
      </div>
    </section><!-- End Contact Section -->
  
  </main>
  